<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">企业资质</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="qualification">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12 padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="150ms">
                <img class="img-responsive" src="images/qualification/qualification.png">
            </div>
            <div class="col-sm-6 col-sm-offset-1 col-xs-12 padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="150ms">
                <p class="text-indent">好扑是中国区块链技术和产业发展论坛成员单位、工信部中国电子技术标准化研究院《信息技术区块链和分布式账本技术参考架构》国家标准编写成员单位，同时也是AWS和华为云的重要技术合作伙伴。</p>
                <p class="text-indent">自2016年跨入区块链行业以来，好扑科技技术团队持续在行业内深耕，团队成员发表了《基于区块链的数字化指挥控制系统信息传输与追溯模式研究》、《基于区块链DPoS共识的分布式指挥控制系统协同研究》、《区块链通证在甲板保障指控信息系统应用研究》等学术论文，并获得了《中国造船工程学会》2018年优秀学术论文等奖项。</p>
                <p class="text-indent">在区块链的商业实践方面，《信息传播方法与系统、服务器及计算机可读储存介质》、《一种基于区块链数字化指挥控制信息传达追溯系统及追溯方法》等四项专利已通过中华人民共和国国家知识产权局初步审查，进入公示及实质审查阶段。</p>
            </div>
        </div>
    </div>
</section>

<section class="rewards">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-12 padding wow scaleIn text-center" data-wow-duration="1000ms" data-wow-delay="100ms">
                <img class="img-responsive" src="images/qualification/人民创投2018年度区块链影响力企业奖.jpeg">
                <p class="text-normal padding-small-top">人民创投</p>
                <p class="text-normal">2018区块链影响力企业奖</p>
            </div>
            <div class="col-sm-2 col-xs-12 padding wow scaleIn text-center" data-wow-duration="1000ms" data-wow-delay="100ms">
                <img class="img-responsive" src="images/qualification/猎云网最佳科技金融创业公司.jpeg">
                <p class="text-normal padding-small-top">猎云网</p>
                <p class="text-normal">最佳科技金融创业公司</p>
            </div>
            <div class="col-sm-2 col-xs-12 padding wow scaleIn text-center" data-wow-duration="1000ms" data-wow-delay="100ms">
                <img class="img-responsive" src="images/qualification/中国区块链生态联盟2018中国区块链企业百强榜.jpeg">
                <p class="text-normal padding-small-top">中国区块链生态联盟</p>
                <p class="text-normal">中国区块链企业百强榜</p>
            </div>
            <div class="col-sm-2 col-xs-12 padding wow scaleIn text-center" data-wow-duration="1000ms" data-wow-delay="100ms">
                <img class="img-responsive" src="images/qualification/国家信息产业公共服务平台2017区块链领域创新企业奖.jpeg">
                <p class="text-normal padding-small-top">信息产业公共服务平台</p>
                <p class="text-normal">区块链领域创新企业奖</p>
            </div>
            <div class="col-sm-2 col-xs-12 padding wow scaleIn text-center" data-wow-duration="1000ms" data-wow-delay="100ms">
                <img class="img-responsive" src="images/qualification/中关村互联网金融研究院2017年度金融科技最佳技术创新奖.jpeg">
                <p class="text-normal padding-small-top">中关村互联网金融研究院</p>
                <p class="text-normal">金融科技最佳技术创新奖</p>
            </div>
        </div>
    </div>
</section>

<style>
    .qualification, .rewards {
        margin-left: 15px;
        margin-right: 15px;
    }
    @media only screen and (min-width: 768px) {
        .rewards .container .col-sm-2 {
            margin-left: 2.8%;
        }
    }
</style>
