<section id="page-breadcrumb">
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">企业级整体商业化解决方案—aelf Enterprise</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="company-information" class="choose">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                <img style="margin-top: -100px;width: 100%" src="images/solutions/blockchain/header.svg" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6 padding-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                <h2>什么是aelf Enterprise？</h2>
                <p class="text-indent">
                    aelf Enterprise是由好扑承研的、面向企业级用户的整体区块链商业化解决方案，该解决方案不基于任何已有的区块链开源项目，完全由好扑独立自主研发，属高自主可控区块链系统。aelf Enterprise于2019年通过了工信部中国电子技术标准化研究院《区块链参考架构》中功能架构的标准测试，获得了由中国电子技术标准化研究院颁布的区块链系统功能测试证书。
                </p>
                <!-- <ul class="elements">
                    <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i> </li>
                </ul> -->
            </div>
        </div>
    </div>
</section>
<!--/#company-information-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/solutions/blockchain/f4.png" alt="">
                    </div>
                    <h2>政企单位</h2>
                    <p>基于aelfEnterprise，政企单位可以定制数字化区块链政务系统，通过区块链系统，打通各部门之间的协作和信任，提升各部门间的多方协作效率</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/solutions/blockchain/f2.png" alt="">
                    </div>
                    <h2>供应链相关行业</h2>
                    <p>基于aelfEnterprise，通过智能合约来控制供应链流程，既能大幅减少⼈为交互，提升产业效率，更能确保数据安全可靠，增强企业间的信⽤协作</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/solutions/blockchain/f1.png" alt="">
                    </div>
                    <h2>金融类行业</h2>
                    <p>基于aelfEnterprise，有效解决跨境⽀付、供应链⾦融、票据和资产证券化等场景下⽀付周期⻓、交易透明度低、相关凭证真实性等痛点</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<section id="action" class="responsive">
    <div class="container">
        <div class="row">
            <div class="take-tour">
                <div class="col-sm-8 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h1 class="title">我们的产品</h1>
                    <p class="text-left text-indent">aelf Enterprise先后上线亚马逊AWS、微软云Azure、华为云国际站及谷歌云Platform，好扑作为亚马逊、微软云、华为云和谷歌云的技术合作伙伴，为企业级用户提供了一个更为高效、便捷、优质的开发环境。企业用户不必在本地配置和设置环境，就能完成开发智能合约；帮助用户最快2分钟启动区块链网络、部署事物节点、创建DAPP等，推动区块链行业新业务模式的拓展，加速多机构间商业网络的革新，为后期不同主体间的业务往来传递价值。</p>
                </div>
                <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="tour-button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="clients" class="applications">
    <div class="container">
        <div class="row cloud-service">
            <div class="col-sm-12" style="margin-top: 48px">
                <div class="text-left wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h1 class="title text-center">登陆云平台 快速构建aelf Enterprise区块链解决方案</h1>
                </div>
            </div>
            <div class="col-sm-2 col-xs-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="1200ms">
                <a href="https://marketplace-intl.huaweicloud.com/product/00301-129125-0--0"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="wow scaleIn"
                   data-wow-duration="500ms"
                   data-wow-delay="300ms"
                >
                    <img src="images/solutions/blockchain/hwc.jpeg" alt="">
                </a>
            </div>
                <div class="col-sm-2 col-sm-offset-1 col-xs-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <a href="https://console.cloud.google.com/marketplace/details/aelf-public/aelf-enterprise?q=aelf&id=b90de7d1-e0a2-40fc-92c3-6feed581ef7d"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="wow scaleIn"
                   data-wow-duration="500ms"
                   data-wow-delay="300ms"
                >
                    <img src="images/solutions/blockchain/google.jpeg" alt="">
                </a>
            </div>
            <div class="col-sm-2 col-sm-offset-1 col-xs-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <a href="https://azuremarketplace.microsoft.com/zh-cn/marketplace/apps/aelf.aelf-enterprise"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="wow scaleIn"
                   data-wow-duration="500ms"
                   data-wow-delay="300ms"
                >
                    <img src="images/solutions/blockchain/azure.jpeg" alt="">
                </a>
            </div>
            <div class="col-sm-2 col-sm-offset-1 col-xs-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="https://aws.amazon.com/marketplace/pp/B07S2DT928"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="wow scaleIn"
                   data-wow-duration="500ms"
                   data-wow-delay="300ms"
                >
                    <img src="images/solutions/blockchain/aws.jpeg" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h1 class="title">应用领域</h1>
                </div>
                <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-1.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-2.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-3.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-4.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-5.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-7.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-10.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-11.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-12.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-13.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-14.png" class="img-responsive" alt="">
                    </div>
                     <div class="col-xs-4 col-sm-2">
                        <img src="images/solutions/blockchain/brand-logo-15.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!--/#clients-->
