<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="contact-info bottom">
                    <img src="images/footer.svg" style="width: 140px;height: 150px">
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="contact-info bottom">
                    <h2>CONTACTS</h2>
                    <div>
                        <p>
                            联系我们: <a href="mailto:contact@hoopox.com">contact@hoopox.com</a>
                        </p>
                        <p>
                            简历招聘: <a href="mailto:hr@hoopox.com">hr@hoopox.com</a>
                        </p>
                        <p>业务合作: 010-58203540</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="contact-info bottom">
                    <h2>ADDRESS</h2>
                    <address>
                    建国门外大街，朝阳区，北京市 <br>
                    </address>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="contact-info bottom">
                    <img src="images/qrcode.jpeg" class="qr-code" style="width: 110px;height: 110px">
                    <p>扫码关注好扑科技</p>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 text-center bottom-separator"></div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Beijing Hoopox Information Science &amp; Technology Co.,Ltd. </p>
                    <p style="font-size:12px;height:20px;line-height:20px;padding:5px 0">
                        <a target="_blank" href="http://beian.miit.gov.cn" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff">
                            京ICP备16044930号,
                        </a>
                        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033160" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff">
                            <img src="images/gongan.png" style="float:left;"/>
                            京公网安备 11010502033160号
                        </a>
                        , All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script src="post.bundle.js" charset="utf-8"></script>
